<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

<table class="table">

  <thead class="thead-light">
  <tr>
    <th></th>
    <th>Name</th>
    <th>UnitPrice</th>
    <th>UnitsInStock</th>
    <th>DateCreated</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tempSalesPerson of products" [ngClass]="{'highlight':tempSalesPerson.unitPrice > 25}">
    <td class="align-middle">
      <img src="{{ tempSalesPerson.imageUrl }}" height="50"/>
    </td>
    <td class="align-middle">{{ tempSalesPerson.name }}</td>
    <td class="align-middle">{{ tempSalesPerson.unitPrice | currency:'USD' }}</td>
    <td class="align-middle">{{ tempSalesPerson.unitsInStock }}</td>
    <td class="align-middle">{{ tempSalesPerson.dateCreated  | date :'dd.MM.yyyy hh:mm:ss'}}</td>
  </tr>
  </tbody>

</table>
